name: Build and Push Docker Image

on:
  workflow_run:
    workflows:
      - Quality Control (Jest)
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/digital-pause-backend:latest .

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/digital-pause-backend:latest
